body{
    font-family: Arial;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: 1px solid black;
    padding: 8px;
}

th{
    background-color: silver;
}

h1{
    text-align: center;
}

/* Miszkiel Z58_css */