

  div#blok1_Miszkiel {background-color: 00ff00;width:660px;} 
  div#blok2 {background-color: 00ff00;width:660px;} 
  div#blok3 {background-color: 00ff00;width:660px;} 
  div#blok1_Miszkiel:hover {background-color: gold;font-size:18mm;} 
  div#blok2:hover {background-color: silver;font-size:18mm;} 
  div#blok3:hover {background-color: blue;font-size:18mm;} 

/* 20mm wynika z obliczenia wielkości liter--> Ty oblicz Twoją wielkość */ 
/* dopisz jeszcze dwa hover z opowiednimi kolorami--> patrz tabela */ 
/* Dopisz _Twoje_nazwisko po blok1, blok2, blok3 w całym kodzie */ 



/* Miszkiel Z60_css  */ 